@charset "utf-8";
#for img {
	padding-left: 110px;
	padding-top: 22px;
}
#art img {
	padding-top: 0px;
	top: 0px;
	margin-left: -2px;
	margin-top: -41px;
	margin-bottom: -35px;
	padding-right: 2px;
	padding-bottom: 29px;
	padding-left: 405px;
	background-position: 229% 27%;
}
#art2 img {
	padding-left: 401px;
	margin-bottom: -12px;
	margin-top: -129px;
}
#con img {
	margin-left: 1px;
	padding-left: 110px;
}

#art3 img {
	padding-left: 404px;
	margin-bottom: -7px;
	margin-top: -39px;
	padding-top: 13px;
}
#art4 img {
	padding-left: 410px;
}
#footer {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align: center
}





#Header img {
	border-top-style: groove;
	border-radius: 12px 6px 17px 13px;
	position: fixed;
	height: auto;
	width: auto;
	padding-left: auto;
	margin-bottom: 0px;
	margin-top: -8px;
}


#rec img {
	padding-top: 35px;
	padding-left: 106px;
}


#acc img {
	padding-left: 105px;
	margin-top: 162px;
	position: static;
}
