* {
    box-sizing: border-box;
}
.colonne {
    float: left;
	padding-top: 10px;
	padding-right: 155px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.menu {
    width: 25%;
}
.contenu {
    width: 75%;
}
.menu ul {
    list-style-type: none;
    margin: 0;
	padding: 0;
	
}
.menu li {
	
    padding: 8px;
    margin-bottom: 25px;
    background-color: #ffc400;
    color: #ffffff;
}
.menu li:hover {
    background-color: #ffc400;
}
#publication {
	padding-left: 110px;
	width: 500px;
	height: 200px;
	border: 1px solid black;
	padding: 5px;
	overflow: auto;
	margin: auto;
	border-color: black;
	border-radius: 3px;

}
#parametres {
	padding-left: 110px;
	padding: 5px;
	overflow: auto;
	margin: auto;
  }
