* {
	box-sizing: border-box;
}
body{
	font-family: Arial;
	background-color: #f5f4f4
}
#Header{
	color: #ffc400;
	margin-left: 25%;
	margin-right: 15%;
	font-style: italic;
	text-align: center;
	background-color: #e9e9e9;
	font-family: 'Sofia';font-size: 150%;
	margin-bottom: 1% ;
	position: -webkit-sticky; /* Safari */
    position: sticky;
	top: 0;
	border-radius: 10px;
			

}
.colonne {
	position: -webkit-sticky; /* Safari */
    position: sticky;
	left: 0;
    float: left;
	padding-top: 10px;
	padding-right: 5%;
	margin-bottom: 100% ;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.menu {
	width: 20%;
	margin-right: 10%;
	background-color: #e9e9e9;
	border-spacing: 50%;
	border-radius: 10px;

}
.contenu {
	padding: 2%;
	width: 60%;
	background-color: #ffc400;
	margin-left: 25%;
	background-size: 10%;
	border-radius: 10px;
}
.menu ul {
    list-style-type: none;
    margin:auto;
	padding: auto;

	
}
.menu li {
	text-align: center;
	border-radius: 10px;
	padding: 10%;
    margin-bottom: 15%;
    background-color: #ffc400;
	color: #ffffff;
	-webkit-transition: width 4s, height 4s ; /* For Safari 3.1 to 6.0 */
    transition: width 4s, height 4s ;
}
.menu li:hover {
	background-color: #ffae00;
	width: 110%;
    height: 110%;
}
#publication {
	resize: horizontal;
	overflow: auto;
	width: 50%;
	height: 20%;
	border: 1px solid black;
	border-color: black;
	border-radius: 10px;
}
#parametres {
	
	overflow: auto;
	margin: auto;
  }

.imageflottante
{
	float: left;
}
.dessous
{
color: #ffc400;
}
form
{
	margin-left: 25%;
	margin-right:15%;
	border-radius: 10px;
	color: rgb(240, 240, 240);
	text-align: center;
	background-color: #ffae00;
	size: 10%;
}
#footer{
	bottom: auto;
}